[submodule "nanopb"]
	path = extras/nanopb/v0.4.9.1
	url = https://github.com/nanopb/nanopb.git
	branch = maintenance_0.4
[submodule "rttr"]
	path = extras/rttr/v0.9.7
	url = https://github.com/rttrorg/rttr.git
	branch = master
